p ,.btnn,.nav-font-text,body{
    font-family: 'Space Grotesk', sans-serif;
  }
  
  
   /* p {
    font-family: 'Urbanist', sans-serif;
  } */
  h1, h2, h3 {
    font-family: 'Changa', sans-serif;
    font-weight: 800;
  }
  
  body{
    background-color: #211C84;
  }

  